<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/datatables/css/jquery.dataTables.min.css">
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" charset="utf8" src="/datatables/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css">
    
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>
</head>
<style>
</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
        <div class="container-fluid">
          <a class="navbar-brand fw-bold" href="/gst/user/dashboard">GST System</a>
      
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarQuickLinks" aria-controls="navbarQuickLinks" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse justify-content-end" id="navbarQuickLinks">
            <ul class="navbar-nav mb-lg-0 text-center">
                
                <li class="nav-item">
                <a class="nav-link" href="/gst/user/dashboard">Dashboard</a>
                </li>
              <li class="nav-item">
                <a class="nav-link" href="/gst/user/register">Register User</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/gst/plant/map">User Plant Map</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">GST View</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Orphaned Records</a>
              </li>
              <li class="nav-item">
                <a class="btn btn-outline-danger ms-lg-2" href="/gst/user/logout">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      

